#add-card-details {
.container {
  max-width: 860px;

  .card-header {
    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #333;
      padding: 20px 0;
    }
  }

  .row.myShadow {
    margin: 0 -25px;
    padding: 0 10px;
  }

  .custom-control-label {
    span {
      display: block;
      margin-top: 5px;
    }
  }
}
}



//********** Dark mode css **********//
//#####################################
#add-card-details.dark-mode {
.container {
  .card-header {
      h2 {
        color: $white-color;
      }
    }
  }
}