.grid-list-view{
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.grid-list-col {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}


// shadow 
.myShadow {
  -webkit-box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 1);
  -moz-box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 1);
  -ms-box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 1);
  -o-box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 1);
  box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 1);
}
.myShadow-sm {
  -webkit-box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 0.5);
  -moz-box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 0.5);
  -ms-box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 0.5);
  -o-box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 0.5);
  box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 0.5);
}

// myTransition
.myTransition {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

// section heading
.sec-heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
}

.myborder-bottom {
  border-bottom: 1px solid #eaedf3;
}

.myborder-top {
  border-top: 1px solid #eaedf3;
}

.border-radius-20 {
  border-radius: 20px !important;

  .card-header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }

  .card-footer {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
}


// card
.card {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 11px 22px 0px #e7e9f2;
  border: none;
}

.card-header {
  background: inherit;
  border-bottom: 1px solid #eaedf3;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.card-footer {
  background: inherit;
  border-top: 1px solid #eaedf3;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.post-card {
  .profile {
    position: relative;
    .profile-img-box {
      margin-right: 15px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
      }
  
      .online {
        position: absolute;
        top:-3px;
        right: -3px;
        font-size: 12px;
        color: #7ed321;
      }
    }

    .profile-name h5 {
      font-size: 16px;
      font-weight: 700;
      color: #333;
      padding-top: 5px;
    }

    .profile-sub-name{
      font-size: 14px;
      font-weight: 600;
      color: rgba(51, 51, 51, 0.5);
      display: block;
    }
  }

  .pin-btn {
    color: #bcbcbc;
    transform: rotate(45deg);
  }

  .dropdown {
    .btn {
      font-size: 16px;
      color: #bcbcbc;
      position: relative;
    }

    .dropdown-menu {
      margin: -5px 0px 0 0;
      border: 1px solid #bcbcbc;
      border-radius: 10px;
      margin: 0;

      .dropdown-item {
        font-size: 14px;
        color: #322e46;
        font-weight: 600;
        padding: .25rem 1rem;

        i {
          color: #5c5c5c;
        }
      }
    
    }
  }

  .post-image {
    margin: 20px 0;
    img {
      border-radius: 12px;
      display: block;
    }
  }

  .date-time {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.5);
    font-weight: 500;
  }

  .post-title {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 5px 0 10px 0;
    line-height: 20px;

    a {
      color: $primary-color;
    }
  }

  .post-footer {
    a {
      color: rgba(51, 51, 51, 0.8);
      font-size: 12px;
      font-weight: 600;

      span {
        padding: 0 15px 0 5px;
      }
    }
    i {
      font-size: 16px;
      position: relative;
      top: 2px;
    }

    .love i {
      color: #df4545; 
    }
    .comment i {
      color: #686868;
    }
   
    .bookmark i {
      color: #bbc9dc;

      &:hover {
        color: #686868;
      }
    }

    .bookmark.marked i {
      color: rgba(51, 51, 51, 0.8);
    }
  }
}

// button
.circle-btn-white i{
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 11px 22px 0px rgba(231, 233, 242, 1);
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  color: $primary-color;
  @extend .myTransition;

  &:hover {
    color: #fff;
    background: $primary-color;
  }
}

.btn-rounded {
  border-radius: 25px;
  background-image: linear-gradient(180deg, $primary-color-dark, $primary-color-light);
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  min-height: 40px;
  @extend .myTransition;

  @media(max-width: 767px) {
    min-height: auto;
  }

  &:hover {
    color: #fff;
    background-image: linear-gradient(180deg, lighten($primary-color-dark, 10), $primary-color-light);
  }
}

.btn-height-fixed {
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;

  @media(max-width: 767px) {
    line-height: 1.2;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

}

.btn-rounded-outline {
  border-radius: 25px;
  background: #fff;
  text-align: center;
  color: $primary-color;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid $primary-color-light;
  min-height: 40px;
  @extend .myTransition;

  @media(max-width: 767px) {
    min-height: auto;
  }

  &:hover {
    color: #fff;
    background-image: linear-gradient(180deg, $primary-color-dark, $primary-color-light);
  }
}

.my-btn-group {
  border-radius: 10px;
  background-color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  padding: 3.5px;
  box-shadow: 0px 11px 22px 0px #e7e9f2;
  height: max-content;
  display: inline-block;

  .btn {
    background: #fff;
    font-size: 12px;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.8);
  }

  .btn:hover,
  .btn.active {
    background-image: linear-gradient(-180deg, $primary-color-dark  , $primary-color-light);
    color: #fff;
  }
}

// top actoin 
.top-action {
  .action {
    border-radius: 50px;
    background: #fff;
    padding: 3px 7px;
    
    .btn {
      color: #bbc9dc;

      &:hover {
        color: $primary-color;
      }
    }
  
    .btn.active {
      color: $primary-color;
    }
  }
}



// search
// .search {
//   display: flex;
//   border-radius: 100vh;
//   border: 1px solid transparent;
//   width: 45px;
//   position: relative;
//   transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
//   overflow: hidden;
//   background: #fff;

//   .search__btn i{
//     color: $primary-color;
//   }

//   &__input {
//     flex-grow: 1;
//     border: none;
//     background: #fff;
//     padding: 0 0.5rem;
//     font-size: 1rem;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     bottom: 0;
//     left: 10px;
//     opacity: 0;
//     font-size: 16px;
//     width: calc(100% - 60px);
//     cursor: pointer;

//     &:focus {
//       outline: none;
//     }
//   }

//   &__btn {
//     font-size: 20px;
//     background: #fff;
//     border: none;
//     cursor: pointer;
//     border-radius: 100vh;
//     height: 45px;
//     width: 45px;
//     margin-left: auto;
//     transition: background 150ms ease-in-out;
//     padding-top: 3px;

//     &:focus {
//       outline: none;
//     }
//   }

//   &:focus-within {
//     width: 100%;
//     border: 1px solid rgba(0, 0, 0, 0.1);

//     .search__input {
//       opacity: 1;
//       cursor: initial;
//     }

//     .search__btn {
//       background: #fff;
//       color: $primary-color;

//       &:hover,
//       &:focus {
//         outline: 0;
//         // transform: rotate(1turn);
//         // box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
//       }
//     }
//   }
// }


.search {
  display: flex;
  align-items: center;
  border-radius: 100vh;
  border: 1px solid transparent;
  width: 45px;
  position: relative;
  transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  overflow: hidden;
  background: #fff;

  .search__btn i{
    color: $primary-color;
  }

  &__input {
    flex-grow: 1;
    border: none;
    background: transparent;
    padding: 0 0.5rem;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    left: 40px;
    opacity: 0;
    font-size: 16px;
    width: calc(100% - 70px);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    font-size: 20px;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 100vh;
    height: 45px;
    width: 45px;
    // margin-left: auto;
    transition: background 150ms ease-in-out;
    padding-top: 3px;

    &:focus {
      outline: none;
    }
  }

  &__reset-btn {
    margin-left: auto;
    display: none;
     i {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #BDC9DA;
      color: #fff;
      font-size: 10px;
      line-height: 15px;
     }
  }

  &__after {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 100;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .search__items {
      border-bottom: 1px solid rgba(#BDC9DA, 0.2);
      
      a {
        padding: 10px 0;
        display: block;
      }

      img {
        width: 35px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid #fff;
      }
      .user-name {
        font-size: 13px;
        font-weight: 600;
        color: #333;
        line-height: 20px;
      }
      .user-title {
        font-size: 11px !important;
        color: #333 !important;
        opacity: 0.6 !important;
      }
    }
  }


  &:focus-within {
    width: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: visible;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .search__input {
      opacity: 1;
      cursor: initial;
    }

    .search__btn {
      background: #fff;
      color: $primary-color;

      &:hover,
      &:focus {
        outline: 0;
        // transform: rotate(1turn);
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
      }
    }


    .search__reset-btn {
      display: block;
    }
  }


}
// end of search


// aside-widget-default css
.aside-widget-default {
  border-radius: 20px;
  background-color: #fff;
  @extend .myShadow;

  .widget-header {
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    padding: 30px 20px;
    @extend .myborder-bottom;
  }

  .widget-body {
    overflow: hidden;
    padding-bottom: 10px;
    a {
      font-size: 15px;
      color: #222;
      font-weight: 700;
      padding: 15px 0 15px 10px;
      display: block;
      @extend .myTransition;
      position: relative;

      &::before {
        content: '';
        width: 8px;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: -4px;
        border-radius: 5px;
      }

      &:hover::before,
      &.active::before {
        background: $primary-color;
      }

      i {
        text-align: center;
        width: 30px;
        color: #969696;
      }

      &:hover,
      &.active {
        color: $primary-color;
        background-image: linear-gradient( 90deg, rgb(255,240,244) 0%, rgba(246,245,250,0) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(255,240,244) 0%, rgba(246,245,250,0) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(255,240,244) 0%, rgba(246,245,250,0) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(255,240,244) 0%, rgba(246,245,250,0) 100%);
        background-image: -o-linear-gradient( 90deg, rgb(255,240,244) 0%, rgba(246,245,250,0) 100%);
        
        i {
          color: $primary-color;
        }
      }

      
    }
  }
}


// form-default css
.form-default {
  .form-heading {
    font-size: 14px;
    font-weight: 600;
    color: #929292;
    margin-bottom: 30px;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    color: #3c4768;
  }

  .form-control {
    font-size: 14px;
    font-weight: 500;
    color: #3c4768;
    background: #f7fafe;
    border: 1px solid #dcdee2;
    border-radius: 8px;
    padding: 20px 15px;
    min-height: calc(1.5em + 1.5rem + 2px);

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      color: #3c4768;
    }
  }

  .custom-select {
    font-size: 14px;
    font-weight: 500;
    color: #3c4768;
    background-color: #f7fafe;
    border: 1px solid #dcdee2;
    min-height: calc(1.5em + 1.5rem + 2px);
    border-radius: 8px;
  }

  .custom-checkbox .custom-control-label::before {
    border-radius: 50%;
  }

}

// Custom toggle button
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: $primary-color;
  background-color: $primary-color;
}

.dark-mode-toggle.btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: #333;
  z-index: 999;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 1.5px solid #333;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  padding: 0;

  &:hover {
    color: #333;
  }
}













//********** Dark mode css **********//
//#####################################

.dark-mode {

  
// shadow 
.myShadow {
  -webkit-box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 1);
  -moz-box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 1);
  -ms-box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 1);
  -o-box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 1);
  box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 1);
}


.myShadow-sm {
  -webkit-box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 0.5);
  -moz-box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 0.5);
  -ms-box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 0.5);
  -o-box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 0.5);
  box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 0.5);
}


// section heading
.sec-heading {
  color: $white-color;
}

.myborder-bottom {
  border-bottom: 1px solid $border-color-dark;
}

.myborder-top {
  border-top: 1px solid $border-color-dark;
}


// card
.card {
  background-color: $card-bg-dark;
  box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 1);
}

.card-header {
  border-bottom: 1px solid $border-color-dark;
}

.card-footer {
  border-top: 1px solid $border-color-dark;
}

.post-card {
  .profile {

    .profile-name h5 {
      color: $white-color;
    }

    .profile-sub-name{
      color: rgba($white-color, 0.8);
      font-weight: 500;
    }
  }

  .dropdown {
    .btn {
      color: #bcbcbc;
    }

    .dropdown-menu {
      border: 1px solid #bcbcbc;

      .dropdown-item {
        color: #322e46;

        i {
          color: #5c5c5c;
        }
      }
    
    }
  }

  .date-time {
    color: rgba($white-color, 0.8);
  }

  .post-title {
    color: $white-color;
    font-weight: 500;

    a {
      color: $primary-color;
    }
  }

  .post-footer {
    a {
      color: rgba($white-color, 0.8);
    }

    .love i {
      color: #df4545; 
    }
    .comment i {
      color: #bbc9dc;
    }
   
    .bookmark i {
      color: #bbc9dc;

      &:hover {
        color: #686868;
      }
    }

    .bookmark.marked i {
      color: #bbc9dc;
    }
  }
}

// button
.circle-btn-white i{
  background-color: $card-bg-dark;
  box-shadow: 0px 11px 22px 0px rgba(42, 42, 42, 1);
  color: $primary-color;

  &:hover {
    color: #fff;
    background: $primary-color;
  }
}

.btn-rounded {
  background-image: linear-gradient(180deg, $primary-color-dark, $primary-color-light);
  color: #fff;

  &:hover {
    color: #fff;
    background-image: linear-gradient(180deg, lighten($primary-color-dark, 10), $primary-color-light);
  }
}

.btn-rounded-outline {
  background:$primary-color;
  color: #fff;
  border: 1px solid $primary-color-light;

  &:hover {
    color: #fff;
    background-image: linear-gradient(180deg, $primary-color-dark, $primary-color-light);
  }
}

.my-btn-group {
  background-color: #282e40;
  border: 1.5px solid #4c4c4c;
  box-shadow: 0px 11px 22px 0px rgba(42,42,42, 1);

  .btn {
    background: transparent;
    color: $white-color;
  }
  
  .btn:hover,
  .btn.active {
    background-image: linear-gradient(-180deg, $primary-color-dark  , $primary-color-light);
    color: #fff;
  }
}

// top actoin 
.top-action {
  .action {
    background: $card-bg-dark;
    @extend .myShadow;
    
    .btn {
      color: #bbc9dc;

      &:hover {
        color: $primary-color;
      }
    }
  
    .btn.active {
      color: $primary-color;
    }
  }
}



// search
.search {
  border: 1px solid transparent;
  background: $card-bg-dark;

  .search__btn i{
    color: $primary-color;
  }

  &__input {
    background: transparent;
    color: $white-color;
  }

  &__btn {
    background: $card-bg-dark;
    transition: background 150ms ease-in-out;
  }

  &__after {
    background: $card-bg-dark;

    .search__items {
      .user-name {
        color: #fff;
      }
      .user-title {
        color: #fff !important;
      }
    }
  }

  &:focus-within {
    border: 1px solid rgba(0, 0, 0, 0.1);

    .search__input {
      opacity: 1;
    }

    .search__btn {
      background: #fff;
      color: $primary-color;

      &:hover,
      &:focus {
        outline: 0;
      }
    }
  }
}


// aside-widget-default css
.aside-widget-default {
  background-color: $card-bg-dark;
  @extend .myShadow;

  .widget-header {
    color: $white-color;
    @extend .myborder-bottom;
  }

  .widget-body {
    a {
      color: $white-color;
      font-weight: 500;

      &::before {
        background: transparent;
      }

      &:hover::before,
      &.active::before {
        background: $primary-color;
      }

      i {
        text-align: center;
        color: #969696;
      }

      &:hover,
      &.active {
        color: $primary-color;
        background-image: linear-gradient( 90deg, $body-bg-dark 0%, $card-bg-dark 100%);
        background-image: -moz-linear-gradient(  90deg, $body-bg-dark 0%, $card-bg-dark 100%);
        background-image: -webkit-linear-gradient(  90deg, $body-bg-dark 0%, $card-bg-dark 100%);
        background-image: -ms-linear-gradient(  90deg, $body-bg-dark 0%, $card-bg-dark 100%);
        background-image: -o-linear-gradient(  90deg, $body-bg-dark 0%, $card-bg-dark 100%);
        
        i {
          color: $primary-color;
        }
      }

      
    }
  }
}


// form-default css
.form-default {
  .form-heading {
    color: $white-color;
  }

  label {
    color: rgba($white-color, 0.8);
    font-weight: 500;
  }

  .form-control {
    color: #3c4768;
    background: #f7fafe;
    border: 1px solid #dcdee2;

    &::placeholder {
      color: #3c4768;
    }
  }

  .custom-select {
    color: #3c4768;
    background-color: #f7fafe;
    border: 1px solid #dcdee2;
  }

}

// Custom toggle button
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: $primary-color;
  background-color: $primary-color;
}


// Dark mode toggle button css
.dark-mode-toggle.btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: $white-color;
  z-index: 999;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 1.5px solid $white-color;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  padding: 0;

  &:hover {
    color: $white-color;
  }
}


}