@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');

$font-stack: 'Montserrat', sans-serif;
$primary-color-dark: #bd1b4a; 
$primary-color-light: #eb4072; 
$primary-color: #db3364; 




body {
  font-family: $font-stack;
  background-color: #f7faff;
  font-weight: 500;
  // transition: all 0.3s linear;
}

body.overlay {
  background-color: rgba(0,0,0,0.4);
}

@media(min-width: 992px) {
  body.overlay {
    height: 100vh;
    overflow: hidden;
    margin-right: 17px;
  }

  // .container {
  //   max-width: 991px;
  // }
}


// primary gradient
.bg-py {
  background-image: linear-gradient(to bottom, $primary-color-dark  , $primary-color-light);
  background-image: -webkit-linear-gradient(to bottom, $primary-color-dark  , $primary-color-light);
  background-image: -moz-linear-gradient(to bottom, $primary-color-dark  , $primary-color-light);
  background-image: -ms-linear-gradient(to bottom, $primary-color-dark  , $primary-color-light);
}
.bg-px {
  background-image: linear-gradient(to right, $primary-color-dark  , $primary-color-light);
  background-image: -webkit-linear-gradient(to right, $primary-color-dark  , $primary-color-light);
  background-image: -moz-linear-gradient(to right, $primary-color-dark  , $primary-color-light);
  background-image: -ms-linear-gradient(to right, $primary-color-dark  , $primary-color-light);
}
